body{
	font-family: 'Open Sans',sans-serif;
	background:linear-gradient(to right, #F0320C, #00FF6C);
}

h1{
    text-align: center;
    color: ghostwhite;
    font-size: 30px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px #000000;
    display: grid;
}
#container{
	width: 1000px;
	height: 550px;
	/*background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(bgImg.jpg);*/
	margin: 20px auto;	
}
#calculator{
	width: 390px;
	height: 650px;
	background-color: #eaedef;
	margin: 0 auto;
	top: 20px;
	position: relative;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#result{
	height: 80px;
}
#history{
	text-align: right;
	height: 20px;
	margin: 0 20px;
	padding-top: 20px;
	font-size: 15px;
	color: black;
}
#output{
	text-align: right;
	height: 60px;
	margin: 10px 20px;
	font-size: 30px;
}
.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 85px);
  grid-template-rows: minmax(90px, auto) repeat(5, 100px);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 1.2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, .75);
}

.calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, .9);
}

/*#keyboard{
	height: 400px;
}*/
.operator, .number, .empty{
	width: 50px;
	height: 50px;
	margin: 15px;
	float: left;
	border-radius: 50%;
	border-width: 0;
	font-weight: bold;
	font-size: 15px;
}
.number, .empty{
	background-color: #eaedef;
}
.number, .operator{
	cursor: pointer;
}
.operator:active, .number:active{
	font-size: 13px;
}
.operator:focus, .number:focus, .empty:focus{
	outline: 0;
}
button:nth-child(4){
	font-size: 20px;
	background-color: indianred;
}
button:nth-child(8){
	font-size: 20px;
	background-color: greenyellow;
}
button:nth-child(12){
	font-size: 20px;
	background-color: mediumvioletred;
}
button:nth-child(16){
	font-size: 20px;
	background-color: darkseagreen;
}
button:nth-child(20){
	font-size: 20px;
	background-color: palevioletred;
}