@import url('https://fonts.googleapis.com/css?family=Open+Sans:600,700');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.button{
    width:90;
    height:90;
    font-size:30;
    margin: 2;
    cursor: pointer;
    background: #607d8b;
    border: none;
    color: white;
}

.button:hover{
    background: #74ff3b;
    color: #111;
}

.textview{
    width: 377;
    height: 50;
    margin: 5;
    font-size: 30;
    padding 5;
    border: none;
    color: #607d8b;
}

.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.bg{
    background: linear-gradient(to right, #F0320C, #00FF6C);
    height: 100%;
}